<h1>Startup Who Have Reached New Heights Through Our Website</h1>

<table class="company-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Startup Name</th>
            <th>Address</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let startup of startups let i = index">
            <td>{{i + 1}}</td>
            <td>{{startup.name}}</td>
            <td>{{startup.address}}</td>
            <td>{{startup.email}}</td>
        </tr>
    </tbody>
</table>