* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#startupList {
    list-style: none;
    margin-top: 10px;
}

#startupList li {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
.image{
    position: absolute;
    top: 7px;
    right: 10px;
    border-radius: 100%;
    width: 80px;
    height: auto;
}
